/* Estilo personalizado al body de la página del administrador */
body {
    background-color: #F2F2F2;
    width: 100%;
    height: 100vh;
}

/* Contenedor de todo el contenido dentro de la pantalla */
.contenido-general{
    padding: 25px;

    /* Creación de una tabla para ubicar cada elemento o componente */
    display: grid;
	grid-template-columns: 20% 27% 23% 30%;
	grid-template-rows: repeat(4, auto);
	grid-gap: 0px;

	grid-template-areas: "menulat    barra       barra       barra"
						 "menulat    usuario     mascota     postulante"
						 "menulat    adopcion    adopcion    postulante"
						 "menulat    tabla       tabla       tabla";
}

/* ------   
    Menu    
   ------ */

/* Estilo del menu */
.menu {
    /* Asignación del área correspondiente al contenedor dentro de la grilla o tabla */
    grid-area: menulat;

    /* Tamaño al contenedor */
    width: auto;
    height: auto;

    /* Márgenes al contenedor */
    margin-right: 10px;
    padding: 15px;
    
    /* Color y angulo de borde */
    background-color: white;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
}

/* Aliniación del logo en el centro */
.menu .img-logo {
    text-align: center;
    margin-bottom: 15px;
}

/* Eliminación de la dercoración a la etiqueta <a> para los hipervínculos */
.menu a {
    text-decoration: none;
    color: black;
}

/* Estilo personalizado para el boton de cerrar sesión */
.menu .btn-salir{
    margin-top: auto;
    display: flex;
}


/* ---------------------   
    Barra de Navegación    
   --------------------- */

/* Estilo de la barra navegación */
.barra-navegacion {
    grid-area: barra;

    /* Márgenes */
    padding: 15px;

    /* Diseño */
    border-radius: 10px;
    background-color: white;
    display: flex;
}

/* Diseño del contorno de las entradas (inputs) de la barra de navegación */
.barra-navegacion .buscador, .barra-navegacion .calendario{
    /* Márgenes */
    margin-right: 20px;
    padding: 5px 10px;

    /* Borde */
    border: 1px solid #9A9A9A;
    border-radius: 5px;

    /* Comportamiento, Alineación y Color de los elementos que se encuentran dentro del contenedor */
    display: flex;
    align-items: center;
    color: #9A9A9A;
}

/* Eliminación del diseño predeterminado de las entradas (inputs) */
.barra-navegacion input[type=text], .barra-navegacion input[type=date] {
    margin-left: 10px;
    border: none;
    outline: none;
    color: #9A9A9A;
    position: relative;
}

/* Diseño personalizado los calendarios para eliminar el icono que por defecto viene */
.barra-navegacion input[type=date]::-webkit-calendar-picker-indicator{
    /* Tamaño */
    width: 100%;
    height: 100%;

    /* Posición */
    position: absolute;
    top: 0;
    left: 0;

    /* Diseño */
    margin: 0;
    background: 0 0;
    color: transparent;
    opacity: 0;
    pointer-events: auto;
}

/* Posicionamiento al boton de las notificaciones */
.barra-navegacion .notifiacion {
    margin-left: auto;
    position: relative;
    display: flex;
    align-items: center;
}

/* Creación del indicador de las notificaciones */
.barra-navegacion .notifiacion .circulo {
    /* Tamaño */
    width: 13.5px;
    height: 13.5px;

    /* Posición */
    position: absolute;
    top: 5px;
    right: 0px;

    /* Diseño */
    background-color: #5799E3;
    border-radius: 50%;
    text-align: center;
}

/* Estilo personalizado al número de notificaciones */
.barra-navegacion .notifiacion .circulo p {
    font-size: 10px;
    color: white;
    font-weight: 600;
}

/* Creación del boton de las opciones de la cuenta */
.barra-navegacion .cuenta {
    width: 40px;
    height: 40px;
    margin-left: 15px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    overflow: hidden;
}

/* Adecuación de la imagen al tamaño del contenedor */
.barra-navegacion .cuenta img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* ---------------------------   
    Tarjeta del Nuevo Usuario    
   --------------------------- */

/* Estilo a la tarjeta del nuevo usuario */
.tarjeta-usuario {
    grid-area: usuario;

    /* Tamaño */
    width: auto;
    height: auto;

    /* Márgenes */
    margin-top: 20px;
    padding: 15px;

    /* Diseño */
    background-color: white;
    border-radius: 10px;
    font-size: 14px;

    /* Comportamiento */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


/* -----------------------------   
    Tarjeta de la Nueva Mascota    
   ----------------------------- */

/* Estilo a la tarjeta de la nueva mascota */
.tarjeta-mascota {
    grid-area: mascota;

    /* Tamaño */
    width: auto;

    /* Márgenes */
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 15px;

    /* Diseño */
    background-color: white;
    border-radius: 10px;
    font-size: 14px;

    /* Comportamiento */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


/* -----------------------------------   
    Tarjeta de Cantidad de Adopciones   
   ----------------------------------- */

/* Estilo a la tarjeta de la cantidad de adopciones según el estado */
.tarjeta-adopciones {
    grid-area: adopcion;

    /* Tamaño */
    width: auto;
    height: auto;

    /* Márgenes */
    margin-top: 20px;
    margin-right: 20px;
    padding: 15px;

    /* Diseño */
    background-color: white;
    border-radius: 10px;

    /* Comportamiento */
    display: flex;
    flex-direction: column; 
}

/* Margen a las imagenes para que se apeguen al texto */
.tarjeta-adopciones .contenido img {
    margin-left: 20px;
}


/* ------------------------   
    Tarjeta de Postulantes   
   ------------------------ */

/* Estilo de la tarjeta de la lista de los postulantes */
.tarjeta-postulantes {
    grid-area: postulante;

    /* Tamaño */
    width: auto;
    height: auto;

    /* Márgenes */
    margin-top: 20px;
    padding: 15px;

    /* Diseño */
    background-color: white;
    border-radius: 10px;
    font-size: 12px;
}

/* Estilo personalizado a las celdas de la tabla de los postulantes */
.tarjeta-postulantes tr, .tarjeta-postulantes td {
    /* Tamaño y Márgenes */
    height: 30px;
    padding: 0px 5px;

    /* Alineación y Diseño */
    text-align: center;
    border-radius: 5px;
    border: 3px solid #F2F2F2;

    /* Comportamiento */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Asignación del tamaño que ocuparán las celdas de la columna que contienen el nombre del postulante */
.tarjeta-postulantes .nombre-postulante {
    width: 30%;
}

/* Estilo y color al texto de la columna que contiene el estado que lleva una postulante con relación a la adopción de una mascota */
.tarjeta-postulantes .estado {
    font-weight: 600;
    color: white;
}

/* Color especifico a las celdas que contienen el estado del proceso de adopción de una mascota en 'Completado' */
.tarjeta-postulantes .completado {
    background-color: #5799E3;
    border: 3px solid #5799E3;
}

/* Color especifico a las celdas que contienen el estado del proceso de adopción de una mascota en 'Pendiente' */
.tarjeta-postulantes .pendiente {
    background-color: #FF9054;
    border: 3px solid #FF9054;
}

/* Color especifico a las celdas que contienen el estado del proceso de adopción de una mascota en 'Cancelado' */
.tarjeta-postulantes .cancelado {
    background-color: #9A9A9A;
    border: 1px solid #9A9A9A;
}


/* --------------------------------   
    Tarjeta de Usuarios y Mascotas   
   -------------------------------- */

/* Comportamiento al contenedor de las cartas de la parte inferior (Usuarios y Mascotas) */
.tablas {
    grid-area: tabla;
    display: flex;
    justify-content: space-between;
}

/* Estilo de la tarjeta de la lista de los usuarios registrados */
.tarjeta-inferior {
    /* Tamaño */
    width: 46.5%;
    height: auto;

    /* Márgenes */
    margin-top: 20px;
    padding: 15px;

    /* Diseño */
    background-color: white;
    border-radius: 10px;
    font-size: 12px;
}

/* Estilo personalizado a las celdas de la tabla de los usuarios */
.tarjeta-inferior tr, .tarjeta-inferior td {
    height: 30px;
    padding: 0px 5px;
    text-align: center;
    border-radius: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Asignación del tamaño que ocuparán las celdas de la columna que contienen la fecha de nacimiento del usuario */
.tarjeta-inferior .fecha {
    width: 15%;
}

/* Asignación del tamaño que ocuparán las celdas de la columna que contienen el correo electrónico del usuario 
y la descripción de la mascota*/
.tarjeta-inferior .final {
    width: 25%;
}


/* ------------------------   
    Estilos Personalizados    
   ------------------------ */

/* <<< Textos >>> */

/* Estilo de texto al titulo del menu */
.titulo1 {
    font-size: 16px;
    font-weight: 600; /* Tipo de letra SemiBold */
}

/* Estilo de texto a las opciones del menu */
.titulo2 {
    font-size: 16px;
    font-weight: bold;
    margin-left: 15px;
}

/* Estilo de texto a título de las tarjetas */
.titulo-tarjeta {
    font-size: 16px;
    font-weight: 600;
    margin-left: 10px;
}

/* Estilo al texto ver todo de las tarjetas */
.subtitulo-tarjeta{
    margin-top: auto;
    margin-left: auto;
    color: #9A9A9A;
    text-decoration: underline;
}

/* Estilo de texto a los títulos de los campos que se mostrarán del usuario  */
.titulo-campo {
    font-weight: 600;
}

/* Estilo de texto al número que muestra el porcentaje de información completada */
.porcentaje {
    font-size: 16px;
    font-weight: bold;
}

/* Estilo de texto al número que muestra la cantidad de adopciones por cada estado */
.cantidad {
    font-size: 25px;
    font-weight: bold;
}


/* <<< Botones >>> */

/* Diseño de los botones del menu */
.boton1 {
    margin-top: 15px;
    padding: 15px;
    border-radius: 10px;
    display: flex;
}

/* Efecto al poner el cursor encima del boton para vizualizar cuando se haga click */
.boton1:hover{
    background-color: #5799E3;
    color: white;
}

/* Diseño de los botones de las tarjetas */
.boton2 {
    /* Tamaño */
    width: 125px;
    height: 35px;

    /* Márgen */
    margin-left: auto;

    /* Colores y Estilo de Texto*/
    background-color: #FF9054;
    color: white;
    font-weight: 600;

    /* Diseño y Comportamiento */
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* <<< Contenedores >>> */

/* Comportamiento de los elementos en la parte superior e inferior de las tarjetas */
.cabecera-tarjeta, .pie-tarjeta {
    display: flex;
    align-items: center;
}

/* Contenido de la tarjeta */
.contenido {
    margin: 11.8px 0px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/* Creación del contenedor de la foto en las tarjetas */
.foto {
    /* Tamaño */
    width: 100px;
    height: 130px;

    /* Diseño */
    margin-right: 10px;
    border-radius: 10px;
    box-shadow: 0px 3px 7px grey;
    overflow: hidden;
}

/* Adecuación de la foto al tamaño del contenedor */
.foto img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Adecuación de la información en las tarjetas al tamaño del contenedor */
.informacion {
    /* Tamaño */
    width: 100%;
    height: 100%;
    
    /* Quitamos la función de que pueda crecer */
    flex: 1;
    
    /* Comportamiento */
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

/* Adecuación de los datos a mostrar del usuario al tamaño de la tarjeta */
.campo {
    display: flex;
    white-space: nowrap;
}

/* Adecuación del texto en los campos que sobrepasen el tamaño de la tarjeta */
.desbordamiento-texto {
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Aliniación centrada del texto para cada cantidad de adopciones */
.contenedor-cantidad {
    text-align: center;
}


/* <<< Tablas >>> */

/* Diseño de las tablas */
table {
    width: 100%;
    table-layout: fixed;
    margin-top: 15px;
    border-spacing: 0px;
}

/* Estilo a las celdas de la columna que contienen el identificador de cada entidad */
.id {
    width: 30px;
    background-color: #F2F2F2;
    border: 3px solid #F2F2F2;
}

/* Estilo a una fila de la tabla para que actue como un espacio entre dos filas */
.espacio-filas {
    height: 10px !important;
}

/* Estilo a una columna (varias celdas) para que actuen como un espacio entre dos columnas */
.espacio-columnas {
    width: 10px;
    padding: 0px !important;
    border: none !important;
}

/* Color de borde para una celda específica */
.columna1 {
    border: 3px solid #5799E3;
}

/* Color de borde para una celda específica */
.columna2 {
    border: 3px solid #FF9054;
}

/* Color de borde para una celda específica */
.columna3 {
    border: 3px solid #FFD954;
}