/* Estilo personalizado al body de la página del administrador */
body {
    background-color: #F2F2F2;
    width: 100%;
    height: 100vh;
}
  
/* Contenedor de todo el contenido dentro de la pantalla */
.contenido-general{
    padding: 25px;

    /* Creación de una tabla para ubicar cada elemento o componente */
    display: grid;
	grid-template-columns: 20% 80%;
	grid-template-rows: 12.5% 11% 100%;
	grid-gap: 0px;

    grid-template-areas:    "menulat    barra"
                            "menulat    filtros"
                            "menulat    tabla"

}

/* ------   
    Menu    
   ------ */

/* Estilo del menu */
.menu {
    /* Asignación del área correspondiente al contenedor dentro de la grilla o tabla */
    grid-area: menulat;

    /* Tamaño al contenedor */
    width: auto;
    height: 100%;

    /* Márgenes al contenedor */
    margin-right: 10px;
    padding: 15px;
    
    /* Color y angulo de borde */
    background-color: white;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
}

/* Aliniación del logo en el centro */
.menu .img-logo {
    text-align: center;
    margin-bottom: 15px;
}

/* Eliminación de la dercoración a la etiqueta <a> para los hipervínculos */
.menu a {
    text-decoration: none;
    color: black;
}

/* Estilo personalizado para el boton de cerrar sesión */
.menu .btn-salir{
    margin-top: auto;
    display: flex;
}


/* ---------------------   
    Barra de Navegación    
   --------------------- */

/* Estilo de la barra navegación */
.barra-navegacion {
    grid-area: barra;

    height: min-content;

    /* Márgenes */
    padding: 15px;

    /* Diseño */
    border-radius: 10px;
    background-color: white;
    display: flex;
}

/* Diseño del contorno de las entradas (inputs) de la barra de navegación */
.barra-navegacion .buscador, .barra-navegacion .calendario{
    /* Márgenes */
    margin-right: 20px;
    padding: 5px 10px;

    /* Borde */
    border: 1px solid #9A9A9A;
    border-radius: 5px;

    /* Comportamiento, Alineación y Color de los elementos que se encuentran dentro del contenedor */
    display: flex;
    align-items: center;
    color: #9A9A9A;
}

/* Eliminación del diseño predeterminado de las entradas (inputs) */
.barra-navegacion input {
    margin-left: 10px;
    border: none;
    outline: none;
    color: #9A9A9A;
    position: relative;
}

/* Diseño personalizado los calendarios para eliminar el icono que por defecto viene */
.barra-navegacion input[type=date]::-webkit-calendar-picker-indicator{
    /* Tamaño */
    width: 100%;
    height: 100%;

    /* Posición */
    position: absolute;
    top: 0;
    left: 0;

    /* Diseño */
    margin: 0;
    background: 0 0;
    color: transparent;
    opacity: 0;
    pointer-events: auto;
}

/* Posicionamiento al boton de las notificaciones */
.barra-navegacion .notifiacion {
    margin-left: auto;
    position: relative;
    display: flex;
    align-items: center;
}

/* Creación del boton de las opciones de la cuenta */
.barra-navegacion .cuenta {
    width: 40px;
    height: 40px;
    margin-left: 15px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    overflow: hidden;
}

/* Adecuación de la imagen al tamaño del contenedor */
.barra-navegacion .cuenta img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.opciones {
    grid-area: filtros;
    
    width: auto;
    height: 40px;
    margin-top: 20px;
    display: flex;
    align-items: center;
}

/* Estilo del boton agregar nueva mascota */
.opciones .agregar {
    /* Tamaño */
    width: 12%;
    height: 100%;
    
    /* Diseño */
    background-color: #9A9A9A;
    border: 1px solid #9A9A9A;
    border-radius: 8px;

    /* Estilo de letra */
    font-size: 14px;
    font-weight: 600;
    font-family: 'Nunito', sans-serif;
    color: white;

    /* Comportamiento */
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    cursor: pointer;
}

/* Estilo de los menus desplegables para el filtrado */
.opciones select {
    width: auto;
    height: 80%;
    margin-left: 15px;
    padding: 5px;
    background-color: white;
    border: 1px solid #9A9A9A;
    border-radius: 5px;
    outline: none;
    box-shadow: 0px 3px 5px grey;
    font-size: 14px;
    font-family: 'Nunito', sans-serif;
}

/* Efecto en los menus desplegables cuando el puntero esta encima */
.opciones select:hover {
    border: 1px solid black;
}

/* Esconde las opciones deshabilitadas que sirven como placeholder */
.opciones select option[disabled] {
    display: none;
}

/* Estilo del boton eliminar */
.opciones .eliminar {
    /* Tamaño */
    width: 8%;
    height: 100%;

    /* Márgenes */
    margin-left: auto;
    
    /* Diseño */
    background-color: #FF9054;
    border: 1px solid #FF9054;
    border-radius: 8px;

    /* Estilo de letra */
    font-size: 14px;
    font-weight: 600;
    font-family: 'Nunito', sans-serif;
    color: white;

    /* Comportamiento */
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    cursor: pointer;
}


/* -------   
    Tabla    
   ------- */

/* Comprtamiento a un contenedor vacío que contiene a otro contenedor que a su vez tiene como hijo la tabla, para que no se salga del los márgenes de la pantalla */
.contenedor {
    position: absolute;
    width: 1150px;
    height:628px;
    left: 320px;
    top: 115px;

    background: #FFFFFF;
    border-radius: 10px;
}
.contenedor h3{
    position: absolute;
    width: 163px;
    height: 41px;
    left: 10px;
    top: 10px;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 41px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
}
.contenedor img{
    position: absolute;
    width: 200px;
    height: 200px;
    left: 100px;
    top: 70px;
}
.contenedor .edit{
    position: absolute;
    width: 170px;
    height: 35px;
    left: 120px;
    top: 290px;
    background: #5799E3;
    border-radius: 5px;
}
.edit a{
    position: absolute;
    width: 120px;
    height: 35px;
    left: 30px;
    top: 2px;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-align: center;
    text-decoration: none;

    color: #ece9e9;
}

.perfil .N label{
    position: absolute;
    width: 74px;
    height: 27px;
    left: 450px;
    top: 60px;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #9A9A9A;
}
.N input{
    box-sizing: border-box;
    position: absolute;
    width: 200px;
    height: 35px;
    left: 450px;
    top: 100px;

    border: 2px solid #FF9054;
    border-radius: 5px;
}
.A label{
    position: absolute;
    width: 78px;
    height: 27px;
    left: 800px;
    top: 60px;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #9A9A9A;
}
.A input{
    box-sizing: border-box;

    position: absolute;
    width: 200px;
    height: 35px;
    left: 800px;
    top: 100px;

    border: 2px solid #FF9054;
    border-radius: 5px;
}
.U label{
    position: absolute;
    width: 177px;
    height: 27px;
    left: 450px;
    top: 160px;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #9A9A9A;
}
.U input{
    box-sizing: border-box;

    position: absolute;
    width: 200px;
    height: 35px;
    left: 450px;
    top: 200px;

    border: 2px solid #FF9054;
    border-radius: 5px;
}
.C label{
    position: absolute;
width: 67px;
height: 27px;
    left: 800px;
    top: 160PX;
    font-family: 'Nunito';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 27px;
display: flex;
align-items: center;
text-align: center;

color: #9A9A9A;

}
.C select{
    box-sizing: border-box;

position: absolute;
width: 200px;
height: 35px;
left: 800px;
top: 200px;

border: 2px solid #FF9054;
border-radius: 5px;
}
.G label{
    position: absolute;
width: 180px;
height: 27px;
left: 450px;
top: 260px;

font-family: 'Nunito';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 27px;
display: flex;
align-items: center;
text-align: center;

color: #9A9A9A;
}
.G input{
    box-sizing: border-box;

    position: absolute;
    width: 350px;
    height: 35px;
    left: 450px;
    top: 300px;

    border: 2px solid #FF9054;
    border-radius: 5px;
}
.Nu label{
    position: absolute;
width: 210px;
height: 27px;
left: 450px;
top: 380px;

font-family: 'Nunito';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 27px;
display: flex;
align-items: center;
text-align: center;

color: #9A9A9A;

}
.Nu input{
    box-sizing: border-box;

position: absolute;
width: 200px;
height: 35px;
left: 450px;
top: 420px;

border: 2px solid #FF9054;
border-radius: 5px;
}

.Fe label{
    position: absolute;
width: 200px;
height: 27px;
left: 800px;
top: 380px;

font-family: 'Nunito';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 27px;
display: flex;
align-items: center;
text-align: center;

color: #9A9A9A;
}
.Fe input{
    box-sizing: border-box;

position: absolute;
width: 200px;
height: 35px;
left: 800px;
top: 420px;

border: 2px solid #FF9054;
border-radius: 5px;
}
.Co label{
    position: absolute;
width: 104px;
height: 27px;
left: 450px;
top: 480px;

font-family: 'Nunito';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 27px;
display: flex;
align-items: center;
text-align: center;

color: #9A9A9A;

}
.Co input{
    box-sizing: border-box;

position: absolute;
width: 250px;
height: 35px;
left: 450px;
top: 520px;

border: 2px solid #FF9054;
border-radius: 5px;
}
.gua{
    position: absolute;
width: 110px;
height: 35px;
left: 980px;
top: 550px;

background: #5799E3;
border-radius: 5px;
}
.gua a{
    position: absolute;
width: 60px;
height: 35px;
left: 20px;
top: 1px;

font-family: 'Nunito';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 22px;
display: flex;
align-items: center;
text-align: center;
text-decoration: none;

color: #efeded;
}
/* Estilo al contenedor de la tabla */
/* Estilo a una fila de la tabla para que actue como un espacio entre dos filas */
.espacio-filas {
    height: 10px !important;
}

/* Estilo a una columna (varias celdas) para que actuen como un espacio entre dos columnas */
.espacio-columnas {
    width: 10px;
    padding: 0px !important;
    background: none;
    border: none !important;
}    