*{
    margin: 0;
    padding: 0; 
}
.contenedor{
    width: 100%;
}
header{
    width: 100%;
    height: 550px;
    background-image: url("../images/adopcion/image1.png");
    background-repeat: no-repeat;
}
.ancho{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 30%;
    height: 70px;
    float: left;
    padding-top: 10px;
    box-sizing: border-box;
    cursor: pointer;

}
.logo img{
    position: absolute;
    width: 93px;
    height: 87.33px;
    left: 29px;
    top: 16px;
    transform: all 0.3s;
}
.log img:hover{
    transform: scale(1.2);
}

nav{
    width: 40%;
    height: 70px;
    float: left;
    text-align: center;
    padding-top: 24px;
    box-sizing: border-box;
}
nav ul li{
    display: inline;
    
}
nav ul li a{
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
    padding-left: 15px;
    font-weight: bold;
    letter-spacing: 1px;
    font-family: Nunito; 
}
nav ul li a:hover{
    color: #5799E3;
}
.Principal h2{
    position: absolute;
    width: 261px;
    height: 65px;
    left: 552px;
    top: 600px;
    
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 65px;
    text-align: center;
    
    color: #5799E3;
    
}
.adoption1{
    position: absolute;
    width: 600px;
    height: 300px;
    left: 90px;
    top: 740px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background: #FFFFFF;
    
}
.adoption1 .card1 p{
    position: absolute;
    width: 266px;
    height: 145px;
    left: 310px;
    top: 100px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;

    color: #000000;
}
.adoption1 .card1 h3{
    position: absolute;
    width: 115px;
    height: 49px;
    left: 350px;
    top: 10px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 55px;
    text-align: center;
    color: #000000;
}
.adoption1 .ima1{
    position: absolute;
    width: 250px;
    height: 250px;
    left: 30px;
    top: 25px;
}
.Derecha{
    position: absolute;
    width: 50px;
    height: 40px;
    left: 350px;
    top: 210px;
}
.adoption2{
    position: absolute;
    width: 600px;
    height: 300px;
    left: 800px;
    top: 740px;
    background: #FFFFFF;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.adoption2 .ima2{
    position: absolute;
    width: 250px;
    height: 250px;
    left: 20px;
    top: 25px;
}
.adoption2 h3{
    position: absolute;
    width: 169px;
    height: 49px;
    left: 350px;
    top: 10px;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 55px;
    text-align: center;

    color: #000000;
}
.adoption2 p{
    position: absolute;
    width: 279px;
    height: 257px;
    left: 300px;
    top: 100px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 22px;
    text-align: center;

    color: #000000;
}
.adoption3{
    position: absolute;
    width: 600px;
    height: 300px;
    left: 90px;
    top: 1070px;
    
    background: #FFFFFF;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.adoption3 .ima3{
    position: absolute;
    width: 250px;
    height: 250px;
    left: 30px;
    top: 25px;
}
.adoption3 h3{
    position: absolute;
    width: 87px;
    height: 44px;
    left: 350px;
    top: 10px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
    /* identical to box height */

    text-align: center;

    color: #000000;

}
.adoption3 p{
    position: absolute;
    width: 279px;
    height: 257px;
    left: 310px;
    top: 100px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 22px;
    text-align: center;

    color: #000000;
}
.adoption4{
    position: absolute;
    width: 600px;
    height: 300px;
    left: 800px;
    top: 1070px;

    background: #FFFFFF;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.adoption4 .ima4{
    position: absolute;
    width: 250px;
    height: 250px;
    left: 20px;
    top: 25px;
}
.adoption4 h3{
    position: absolute;
    width: 75px;
    height: 44px;
    left: 350px;
    top: 10px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
    /* identical to box height */

    text-align: center;

    color: #000000;
}
.adoption4 p{
    position: absolute;
    width: 279px;
    height: 257px;
    left: 300px;
    top: 100px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 22px;
    text-align: center;

    color: #000000;
}
.adoption5{
    position: absolute;
    width: 600px;
    height: 300px;
    left: 90px;
    top: 1400px;

    background: #FFFFFF;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.adoption5 .ima5{
    position: absolute;
    width: 250px;
    height: 250px;
    left: 30px;
    top: 25px;
}
.adoption5 h3{
    position: absolute;
    width: 125px;
    height: 49px;
    left: 350px;
    top: 10px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 55px;
    text-align: center;
    color: #000000;
}
.adoption5 p{
    position: absolute;
    width: 266px;
    height: 145px;
    left: 310px;
    top: 100px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
}
.adoption6{
    position: absolute;
    width: 600px;
    height: 300px;
    left: 800px;
    top: 1400px;
    background: #FFFFFF;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.adoption6 .ima6{
    position: absolute;
    width: 250px;
    height: 250px;
    left: 20px;
    top: 25px;
}
.adoption6 h3{
    position: absolute;
    width: 75px;
    height: 44px;
    left: 350px;
    top: 10px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
    /* identical to box height */

    text-align: center;

    color: #000000;
}
.adoption6 p{
    position: absolute;
    width: 279px;
    height: 257px;
    left: 300px;
    top: 100px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 22px;
    text-align: center;

    color: #000000;
}
.adoption7{
    position: absolute;
    width: 600px;
    height: 300px;
    left: 90px;
    top: 1750px;

    background: #FFFFFF;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.adoption7 .ima7{
    position: absolute;
    width: 250px;
    height: 250px;
    left: 30px;
    top: 25px;
}
.adoption7 h3{
    position: absolute;
    width: 125px;
    height: 49px;
    left: 350px;
    top: 10px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 55px;
    text-align: center;
    color: #000000;
}
.adoption7 p{
    position: absolute;
    width: 266px;
    height: 145px;
    left: 310px;
    top: 100px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
}
.sponsor{
    position: absolute;
    width: 100%;
    height: 160px;
    left: 0px;
    top: 2200px;
    background: #5799E3;
    display: flex;
    justify-content: space-between;
}
.sponsor .img1{
    position: absolute;
    width: 335px;
    height: 104px;
    top: 30px;
    left: 60px;
    cursor: pointer;
}
.sponsor .img2{
    position: absolute;
    padding: 12px;
    width: 335px;
    height: 104px;
    top: 30px;
    left: 940px;
    cursor: pointer;
}
.piePagina{
    position: absolute;
    width: 100%;
    height: 50px;
    left: 0px;
    top: 2348px;
    background: #FF9054;
    display: flex;
	justify-content: space-between;
}
.piePagina .Derechos h6{
    position: absolute;
    width: 490px;
    height: 50px;
    left: 41px;
    top: 5px;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    display: flex;
    align-items: center;

    color: #FFFFFF;
}

.piePagina .redes{
    padding: 12px 12px 12px  10px;
	font-size: 25px;
    
}
.piePagina .redes a{
	color: #fff;
	padding: 12px;
	text-decoration: none;  
    width: 238px;
    height: 35.36px;
    top: 1px;
    padding-left: 10px;
}


.piePagina .Derechos h6{
    position: absolute;
    width: 297px;
    height: 27px;
    left: 48px;
    top: 10px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 9px;
  }
  .button:hover{
      background-color: #3c8f40;
      color: white;
  }
  .button1 {
    background-color:#FFD954; 
    color: #494949;
    border: 0px solid #4CAF50;
  }
  .button1:hover{
      background-color: #E28F2D;
      color: white;
  }
  