*{
    margin: 0;
    padding: 0; 
}
.contenedor{
    width: 100%;
    background: #F2F2F2;
}
header{
    
    width: 100%;
    height: 120px;
    background: #9A9A9A;
}
.ancho{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 30%;
    height: 70px;
    float: left;
    padding-top: 10px;
    box-sizing: border-box;
    cursor: pointer;

}
.logo img{
    position: absolute;
    width: 93px;
    height: 87.33px;
    left: 29px;
    top: 16px;
    transform: all 0.3s;
}
.log img:hover{
    transform: scale(1.2);
}

nav{
    width: 40%;
    height: 70px;
    float: left;
    text-align: center;
    padding-top: 24px;
    box-sizing: border-box;
}
nav ul li{
    display: inline;
    
}
nav ul li a{
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
    padding-left: 15px;
    font-weight: bold;
    letter-spacing: 1px;
    font-family: Nunito; 
}
nav ul li a:hover{
    color: #5799E3;
}
.Principal{
    position: absolute;
    width: 1304px;
    height: 1100px;
    left: 80px;
    top: 164px;

    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}
.Principal h2{
    position: absolute;
    width: 407px;
    height: 58px;
    left: 466px;
    top: 60px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    /* identical to box height */

    text-align: center;

    color: #5799E3;
}
.adoption1 img{
    position: absolute;
width: 400px;
height: 400px;
left: 120px;
top: 322px;

    background:  rgba(245, 184, 184, 0.63);
}
.adoption1 .Informacion p{
    position: absolute;
    width: 1236px;
    height: 178px;
    left: 120px;
    top: 808px;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 35px;

    color: #000000;
}

.adoption1 .Informacion .c1{
    position: absolute;
    width: 66px;
    height: 44px;
    left: 600px;
    top: 324px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 44px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
}
.adoption1 .Informacion .c2{
    position: absolute;
    width: 74px;
    height: 44px;
    left: 600px;
    top: 436px;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 44px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
}
.adoption1 .Informacion .c3{
    position: absolute;
    width: 72px;
    height: 44px;
    left: 600px;
    top: 548px;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 44px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
}
.adoption1 .Informacion .c4{
    position: absolute;
    width: 100px;
    height: 44px;
    left: 600px;
    top: 655px;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 44px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
}
.adoption1 .Informacion .c5{
    position: absolute;
    width: 128px;
    height: 41px;
    left: 800px;
    top: 368px;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 41px;
    /* identical to box height */


    color: #000000;
}
.adoption1 .Informacion .c6{
    position: absolute;
    width: 82px;
    height: 41px;
    left: 800px;
    top: 480px;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 41px;
    /* identical to box height */


    color: #000000;
}
.adoption1 .Informacion .c7{
    position: absolute;
    width: 90px;
    height: 41px;
    left: 800px;
    top: 589px;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 41px;
    /* identical to box height */


    color: #000000;
}
.adoption1 .Informacion .c8{
    position: absolute;
    width: 161px;
    height: 41px;
    left: 800px;
    top: 679px;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 41px;
    /* identical to box height */


    color: #000000;
}
.boton{
    position: absolute;
    width: 221px;
    height: 61px;
    left: 704px;
    top: 1150px;

}
.button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;	
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #E28F2D;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  
.button:hover {background-color: #3e8e41}
  
.button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}    
.sponsor{
    position: absolute;
    width: 100%;
    height: 160px;
    left: 0px;
    top: 1300px;

background: #5799E3;
    display: flex;
    justify-content: space-between;
}
.sponsor .img1{
    position: absolute;
    width: 335px;
    height: 104px;
    top: 30px;
    left: 60px;
    cursor: pointer;

}
.sponsor .img2{
    position: absolute;
    width: 335px;
    height: 104px;
    top: 30px;
    left: 940px;
    cursor: pointer;

}
.piePagina{
    position: absolute;
    width: 100%;
    height: 50px;
    left: 0px;
    top: 1460px;

    background: #FF9054;
    display: flex;
	justify-content: space-between;
}

.piePagina .Derechos h6{
    position: absolute;
    width: 490px;
    height: 50px;
    left: 41px;
    top: 5px;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    display: flex;
    align-items: center;

    color: #FFFFFF;
}

.piePagina .redes{
    padding: 12px 12px 12px  10px;
	font-size: 25px;
    
}
.piePagina .redes a{
	color: #fff;
	padding: 12px;
	text-decoration: none;  
    width: 238px;
    height: 35.36px;
    top: 5px;
    padding-left: 10px;
}
