*{
   margin: 0;
   padding: 0; 
}
body{
    background:#F2F2F2; 
}

header{
    width: 100%;
    height: 550px;
    background-image: url("../images/home/image1.png");
}
.ancho{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 30%;
    height: 70px;
    float: left;
    padding-top: 10px;
    box-sizing: border-box;
    cursor: pointer;

}
.logo img{
    position: absolute;
    width: 93px;
    height: 87.33px;
    left: 29px;
    top: 16px;
    transform: all 0.3s;
}
.log img:hover{
    transform: scale(1.2);
}

nav{
    width: 40%;
    height: 70px;
    float: left;
    text-align: center;
    padding-top: 24px;
    box-sizing: border-box;
}
nav ul li{
    display: inline;
    
}
nav ul li a{
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
    padding-left: 15px;
    font-weight: bold;
    letter-spacing: 1px;
    font-family: Nunito; 
}
nav ul li a:hover{
    color: #5799E3;
}
.botones{
    height: 70px;
    text-align: right;
    padding-top: 24px;
    box-sizing: border-box;
}
.botones a{
    color: white;
    text-decoration: none;
    padding: 4px 20px;
    border-radius: 20px;
    margin: 5px;


}
.botones .bt{
    background: #5799E3;
}
.botones .b{
    background: #FF9054;
}
.contenedor{
    width: 100%;
   

}

.contenedor .Principal h2{
    position: absolute;
    width: 433.94px;
    height: 66px;
    left: 555px;
    top: 600px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 66px;
    text-align: center;
    color: #5799E3;

}
.slider{

}
.slider .ma {
    position: absolute;
    width: 263px;
    height: 282px;
    left: 189px;
    top: 742px;
    cursor: pointer;

}

.slider .mas{
    position: absolute;
    width: 263px;
    height: 282px;
    left: 574px;
    top: 742px;
    cursor: pointer;
}
.slider .masc{
    position: absolute;
    width: 263px;
    height: 282px;
    left: 959px;
    top: 742px;
    cursor: pointer;
}
.slider img{
    transition: 0.5s;
}
.slider img:hover{
    transform: scale(1.2);
}
figcaption{
    display: none;
    transition: all .5s;
}
figure:hover > figcaption{
    display: block;
    transition: all .5s;
}
.slider2{
    position: absolute;
    width: 1368px;
    height: 281px;
    left: 48px;
    top: 1100px;

    background: #FFFFFF;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}
.slider2 .ti{
    position: absolute;
    width: 256px;
    height: 54px;
    left: 555px;
    top: 10px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 65px;
    color: #5799E3;
}
.slider2 .ind1{
    position: absolute;
    width: 191px;
    height: 151px;
    left: 200px;
    top: 80px;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 109px;
    color: #000000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.slider2 .ind2{
    position: absolute;
    width: 249px;
    height: 151px;
    left: 650px;
    top: 80px;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 109px;
    color: #000000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.slider2 .ind3{
    position: absolute;
    width: 249px;
    height: 151px;
    left: 1100px;
    top: 80px;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 109px;

    color: #000000;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.text1{
    position: absolute;
    width: 191px;
    height: 151px;
    left: 180px;
    top: 170px;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 50px;
}
.text2{
    position: absolute;
    width: 241px;
    height: 54px;
    left: 600px;
    top: 170px;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 36.3299px;
    line-height: 50px;
}
.text3{
    position: absolute;
    width: 164px;
    height: 54px;
    left: 1060px;
    top: 170px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 36.3299px;
    line-height: 50px;
}
.text4{
    position: absolute;
    width: 192px;
    height: 54px;
    left: 1134px;
    top: 1322px;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 36.3299px;
    line-height: 50px;
}
.process .title{
    position: absolute;
    width: 377px;
    height: 55px;
    left: 541px;
    top: 1450px;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 55px;
    color: #5799E3;
    display: flex;
    align-items: center;
}
.process .post{
    position: absolute;
    width: 1368px;
    height: 615px;
    left: 48px;
    top: 1548px;
    background: #FFFFFF;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}
.process .post .nu1{
    position: absolute;
    width: 24px;
    height: 55px;
    left: 262px;
    top: 70px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 55px;

    text-align: center;

}
.process .post .nu2{
    position: absolute;
    width: 24px;
    height: 55px;
    left: 675px;
    top: 70px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 55px;

    text-align: center;
}
.process .post .nu3{
    position: absolute;
    width: 25px;
    height: 55px;
    left: 1093px;
    top: 70px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 55px;

    text-align: center;
}
.post .pos1{
    box-sizing: border-box;
    position: absolute;
    width: 325px;
    height: 325px;
    left: 107px;
    top: 150px;
}
.post .pos2{
    box-sizing: border-box;
    position: absolute;
    width: 325px;
    height: 325px;
    left: 521px;
    top: 150px;
}
.post .pos3{
    box-sizing: border-box;

    position: absolute;
    width: 325px;
    height: 325px;
    left: 939px;
    top: 150px;
}
.post .te1{
    position: absolute;
    width: 325px;
    height: 33px;
    left: 107px;
    top: 500px;
    font-size: 24px;
}
.post .te2{
    position: absolute;
    width: 325px;
    height: 66px;
    left: 521px;
    top: 500px;
    font-size: 24px;

}
.post .te3{
    position: absolute;
    width: 299px;
    height: 33px;
    left: 956px;
    top: 500px;
    font-size: 24px;

}
.sponsor{
    position: absolute;
    width: 100%;
    height: 160px;
    left: 0px;
    top: 2188px;
    background: #5799E3;
    display: flex;
    justify-content: space-between;
}
.sponsor .img1{
    position: absolute;
    width: 335px;
    height: 104px;
    top: 30px;
    left: 60px;
    cursor: pointer;
}
.sponsor .img2{
    position: absolute;
    padding: 12px;
    width: 335px;
    height: 104px;
    top: 30px;
    left: 940px;
    cursor: pointer;
}
.piePagina{
    position: absolute;
    width: 100%;
    height: 50px;
    left: 0px;
    top: 2348px;
    background: #FF9054;
    display: flex;
	justify-content: space-between;
}
.piePagina .Derechos h6{
    position: absolute;
    width: 490px;
    height: 50px;
    left: 41px;
    top: 5px;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    display: flex;
    align-items: center;

    color: #FFFFFF;
}

.piePagina .redes{
    padding: 12px 12px 12px  10px;
	font-size: 25px;
    
}
.piePagina .redes a{
	color: #fff;
	padding: 12px;
	text-decoration: none;  
    width: 238px;
    height: 35.36px;
    top: 5px;
    padding-left: 10px;
}
