/* color del fondo de la pagina */
body {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to bottom, #F2F2F2 50%, #5799E3 50%);
}

/* estructura del contenido general de la pagina */
.contenido {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* estilo de la tarjeta central de la pagina */
.contenido .tarjeta {
    width: 85%;
    height: 90%;
    display: flex;
    overflow: hidden;
    border-radius: 10px;
    position: relative;
}

.contenido .tarjeta .corte {
    width: 52.5%;
    height: 100%;
    background-color: white;
    position: absolute;
    transform: skew(10deg);
}

/* estructura de la primera parte del contenedor central */
.contenido .tarjeta .formulario {
    width: 50%;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

/* tamaño del contenedor de la imagen de la parte derecha de la tarjeta */
.contenido .tarjeta .imagen-tarjeta {
    width: 55%;
    height: 100%;
}

/* estilo a la imagen de la tarjeta */
.contenido .tarjeta .imagen-tarjeta img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 45%;
}

/* estilo del título de la tarjeta */
.contenido .tarjeta .formulario .titulo {
    margin-bottom: 10px;
    font-size: 35px;
    font-weight: 600;
    color: #FF9054;
}

/* tamaño del logo de la página */
.contenido .tarjeta .formulario img {
    width: 25%;
    margin-bottom: 20px;
}

/* estilo del contenedor de las cajas de texto */
.contenido .tarjeta .formulario .credencial {
    width: 70%;
    height: 40px;
    padding-bottom: 5px;
    margin-bottom: 20px;
    border-bottom: 2px solid #9A9A9A;
    color: #9A9A9A;
    display: flex;
    justify-content: space-between;
 }

/* estilo del contenedor de las cajas de texto cuando se está ingresando las credenciles */
.contenido .tarjeta .formulario .credencial:hover {
    color: black;
    border-bottom: 2px solid #FF9054;
}
 
 /* estilo de las cajas de texto donde se recibira las credenciales del usuario */
 .contenido .tarjeta .formulario .credencial input {
    width: 80%;
    margin-right: 10px;
    outline: none;
    border: none;
    background:none;
    font-size: 18px;
}

/* estilo del contenedor de la parte inferior de la tarjeta */
.contenido .tarjeta .formulario .inferior{
    width: 70%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* estilo de los enlaces a las diferentes páginas */
.contenido .tarjeta .formulario .inferior .enlaces a {
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    color: #9A9A9A;
}

/* estilo al poner el puntero encima del enlace que redireccióna a otra página*/
.contenido .tarjeta .formulario .inferior .enlaces a:hover {
    color: #5799E3;
}

/* estilo del texto para registrarse en caso de no tener cuenta */
.contenido .tarjeta .formulario .inferior .enlaces .registrarse {
    margin-top: 5px;
    display: flex;
}

.contenido .tarjeta .formulario .inferior .enlaces .registrarse p {
    margin-right: 5px;
    font-size: 14px;
    font-weight: 600;
}

/* estilo del boton de iniciar sesión */
.contenido .tarjeta .formulario .inferior button {
    width: 35%;
    height: 100%;
    border: none;
    border-radius: 8px;
    background-color: #FF9054;
    font-size: 14px;
    font-weight:600;
    font-family: 'Nunito', sans-serif;
    color: white;
    cursor: pointer;
}

/* estilo del contenedor de los botones de la parte inferior de la tarjeta */
.contenido .tarjeta .formulario .botones{
    width: 70%;
    margin-top: 35px;
    display: flex;
    justify-content: space-between;
}


/* estilo de los botones para ingreso con alguna cuenta ya existente */
.contenido .tarjeta .formulario .botones .boton {
    width: 45%;
    height: 50px;
    border-radius: 10px;
    border: 2px solid #FF9054;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
}

/* estilo del texto de los botones que permiten ingresar con una cuenta existente */
.contenido .tarjeta .formulario .botones .boton p {
    margin-right: 15px;
    font-size: 18px;
    font-weight: 600; 
    color: #FF9054;
}