
.contenedor {
  width: 100%;
}

/* Ajuste el ancho de los elementos de formulario a 100% en dispositivos pequeños */
main img {
  position: absolute;
  width: 100px;
  height: 100px;
  left: 750px;
  top: 63.73px;
  right: 200px;
  justify-content: center;
}
main .for{
  position: absolute;
width: 586px;
height: 83px;
left: 440px;
top: 150px;

font-family: 'Nunito';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 44px;
display: flex;
align-items: center;
text-align: center;

color: #000000;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.form1 label{
  position: absolute;
width: 116px;
height: 44px;
left: 257px;
top: 300px;

font-family: 'Nunito';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 44px;
/* identical to box height */

display: flex;
align-items: center;
text-align: center;

color: #9A9A9A;
}
.form1 input{
  position: absolute;
width: 650px;
height: 40px;
left: 300px;
top: 360px;

border: 1px solid #000000;
}
.form2 label{
  position: absolute;
width: 122px;
height: 44px;
left: 254px;
top: 450px;

font-family: 'Nunito';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 44px;
/* identical to box height */

display: flex;
align-items: center;
text-align: center;

color: #9A9A9A;
}
.form2 input{
  position: absolute;
width: 650px;
height: 40px;
left: 300px;
top: 500px;

}
.form3 label{
  left: 257px;
  position: absolute;
width: 125px;
height: 44px;
top: 580px;

font-family: 'Nunito';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 44px;
/* identical to box height */

display: flex;
align-items: center;
text-align: center;

color: #9A9A9A;
}
.form3 input{
  position: absolute;
width: 650px;
height: 40px;
left: 300px;
top: 630px;

border: 1px solid #000000;
}
.form4 label{
  position: absolute;
width: 80px;
height: 44px;
left: 257px;
top: 690px;

font-family: 'Nunito';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 44px;
/* identical to box height */

display: flex;
align-items: center;
text-align: center;

color: #9A9A9A;
}
.form4 input{
  left: 300px;
  position: absolute;
width: 650px;
height: 40px;
top: 740px;
}
.form5 label{
  position: absolute;
width: 121px;
height: 44px;
left: 257px;
top: 800px;

font-family: 'Nunito';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 44px;
/* identical to box height */

display: flex;
align-items: center;
text-align: center;

color: #9A9A9A;
}
.form5 input{
  left: 300px;
  position: absolute;
width: 650px;
height: 40px;
top: 850px;
}
.buton{
  position: absolute;
width: 100px;
height: 40px;
left: 920px;
top: 1000px;

background: #E28F2D;
border-radius: 10px;
}
.buton a{
  position: absolute;
width: 137px;
height: 44px;
left: -10px;
top: 1px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 44px;
text-decoration: none;
/* identical to box height */

text-align: center;

color: #e6dfdf;

transform: rotate(0.77deg);
}