/* color del fondo de la pagina */
body {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to bottom, #F2F2F2 50%, #5799E3 50%);
} 

/* estructura del contenido general de la pagina */
.contenido {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* estilo de la tarjeta central de la pagina */
.contenido .tarjeta {
    width: 85%;
    height: 90%;
    overflow: hidden;
    border-radius: 10px;
}

/* estructura de la primera parte del contenedor central */
.contenido .tarjeta .formulario {
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

/* tamaño del logo de la página */
.contenido .tarjeta .formulario img {
    width: 15%;
}

/* estilo del título de la tarjeta */
.contenido .tarjeta .formulario .titulo {
    font-size: 50px;
    font-weight: 600;
    color: #FF9054;
}

/* estilo del texto de la tarjeta */
.contenido .tarjeta .formulario .texto {
    width: 50%;
    font-size: 25px;
    font-weight: 600;
}

/* estilo del contenedor de las cajas de texto */
.contenido .tarjeta .formulario .credencial {
    width: 40%;
    height: 40px;
    line-height: 40px;
    padding-bottom: 5px;
    border-bottom: 2px solid #9A9A9A;
    color: #9A9A9A;
 }

/* estilo del contenedor de las cajas de texto cuando se está ingresando las credenciles */
.contenido .tarjeta .formulario .credencial:hover {
    border-bottom: 2px solid #FF9054;
}

 /* estilo de las cajas de texto donde se recibira las credenciales del usuario */
 .contenido .tarjeta .formulario .credencial input {
    width: 100%;
    margin-right: 10px;
    padding: 0px 5px;
    outline: none;
    border: none;
    background:none;
    font-size: 22px;
}

/* estilo del boton de iniciar sesión */
.contenido .tarjeta .formulario button {
    width: 20%;
    height: 60px;
    border: none;
    border-radius: 10px;
    background-color: #FF9054;
    font-size: 20px;
    font-weight:600;
    font-family: 'Nunito', sans-serif;
    color: white;
    cursor: pointer;
}


/* Estilos de la ventana flotante */
#ventana {
    width: 45%;
    height: 60%;
    border: none;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#ventana::backdrop{
    background-color: rgba(154, 154, 154, .8);
}

#ventana .cuadro {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#ventana .confirmacion {
    width: 80%;
    height: 80%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#ventana .confirmacion .negrita {
    font-size: 25px;
    font-weight: bold;
}

#ventana .confirmacion .negrita {
    font-size: 25px;
    font-weight: bold;
}

#ventana .confirmacion .texto {
    width: 80%;
    font-size: 18px;
    font-weight: 600;
}