/* color del fondo de la pagina */
body {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to bottom, #5799E3 50%, #F2F2F2 50%);
}

/* estructura del contenido general de la pagina */
.contenido {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* estilo de la tarjeta central de la pagina */
.contenido .tarjeta {
    width: 85%;
    height: 90%;
    display: flex;
    overflow: hidden;
    border-radius: 10px;
    position: relative;
}

/* tamaño del contenedor de la imagen de la parte izquierda de la tarjeta */
.contenido .tarjeta .imagen-tarjeta {
    width: 55%;
    height: 100%;
}

/* estilo a la imagen de la tarjeta */
.contenido .tarjeta .imagen-tarjeta img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 45%;
}

.contenido .tarjeta .corte {
    width: 52.5%;
    height: 100%;
    background-color: white;
    position: absolute;
    right: 0px;
    transform: skew(-10deg);
}

/* estructura de la primera parte del contenedor central */
.contenido .tarjeta .formulario {
    width: 50%;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

/* estilo al contenedor de la parte superior de la tarjeta */
.contenido .tarjeta .formulario .superior {
    width: 85%;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* estilo del título de la tarjeta */
.contenido .tarjeta .formulario .superior .titulo {
    font-size: 35px;
    font-weight: 600;
    color: #FF9054;
}

/* tamaño del logo de la página */
.contenido .tarjeta .formulario .superior img {
    width: 15%;
}

/* tamaño del contenedor de cada caja de texto por fila */
.contenido .tarjeta .formulario .fila {
    width: 85%;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.contenido .tarjeta .formulario .fila .error {
    width: 45%;
}

/* estilo del contenedor de las cajas de texto */
.contenido .tarjeta .formulario .fila .datocorto {
    width: 45%;
 }

.contenido .tarjeta .formulario .fila .error #dato-contrasenia, .contenido .tarjeta .formulario .fila .error #dato-rep_contrasenia {
   width: 100%;
}

 .contenido .tarjeta .formulario .datolargo {
    width: 85%;
    margin-bottom: 20px;
 }

/* estilo al titulo de cada caja de texto */
.contenido .tarjeta .formulario label {
    font-size: 18px;
    font-weight: 600;
    font-family: 'Nunito', sans-serif;
    color: #FF9054;
}
 
 /* estilo de las cajas de texto donde se recibira las credenciales del usuario */
 .contenido .tarjeta .formulario input, .contenido .tarjeta .formulario select {
    width: 100%;
    margin-top: 5px;
    outline: none;
    border: none;
    background:none;
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
}

/* eliminando la opción que hace de placeholder */
.contenido .tarjeta .formulario .fila .datocorto select option[disabled] {
    display: none;
}

/* estilo del contenedor de la parte inferior de la tarjeta */
.contenido .tarjeta .formulario .inferior{
    width: 85%;
    height: 40px;
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* estilo del boton de iniciar sesión */
.contenido .tarjeta .formulario .inferior button {
    width: 45%;
    height: 100%;
    border: none;
    border-radius: 8px;
    background-color: #FF9054;
    font-size: 16px;
    font-weight:600;
    font-family: 'Nunito', sans-serif;
    color: white;
    cursor: pointer;
}

/* estilo del contenedor de la información para contactarse con los propietarios de la página */
.contenido .tarjeta .formulario .medios-contacto{
    width: 85%;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.contenido .tarjeta .formulario .medios-contacto .contacto{
    display: flex;
    align-items: center;
}

.contenido .tarjeta .formulario .medios-contacto .contacto a {
    margin-left: 5px;
    text-decoration: none;
    font-weight: 600;
    color: black;
}

/* estilo personalizado para los campos obligatorios del formulario */
.obligatorio {
    font-weight: bold;
    color: red;
}

.vacio {
    border-bottom: 2px solid #9A9A9A;
}

.lleno {
    color: black;
    border-bottom: 2px solid #FF9054;
}

.oculto {
    visibility: hidden;
}

.correcto {
    visibility: visible;
    color: green;
}

.incorrecto {
    visibility: visible;
    color: red;
}